<header>
    <div id="reg-log">
        {% if app.user %}
        {% if app.user.getRole in 'admin' %}
        <p>Jste přihlášen jako Admin</p>
        <div class="adm-container">
            <a href="administration.php" class="adm">Vstup do Administrace</a>

        </div>
        {% else %}
        <p>Jste přihlášen jako {{ app.user.getUserName }}</p>
        <div class="adm-container">
            <a href="user" class="adm">Vstup do Uživatelského rozhraní</a>
        </div>
        {% endif %}
        <a href="{{ path('logout') }}" class="logout">Odhlásit se</a>
        {% else %}
        <button id="register-button">
            Registrace
        </button>
        <button id="login-button">
            Přihlášení
        </button>
        <div id="reglog-modal" style="display: none;">
            <span id="register" style="display: none">
            {{ form_start(register_form) }}
            <span class="close">×</span>
            {{ form_label(register_form.user_name) }}
            {{ form_widget(register_form.user_name,{ 'attr' : {'placeholder' : 'Uživateslké jméno'}}) }}
            {{ form_label(register_form.plainPassword.first) }}
            {{ form_widget(register_form.plainPassword.first,{ 'attr' : {'placeholder' : 'Heslo'}}) }}
            {{ form_label(register_form.plainPassword.second) }}
            {{ form_widget(register_form.plainPassword.second,{ 'attr' : {'placeholder' : 'Heslo znovu'}}) }}
            {{ form_label(register_form.user_email.first) }}
            {{ form_widget(register_form.user_email.first,{ 'attr' : {'placeholder' : 'Email'}}) }}
            {{ form_label(register_form.user_email.second) }}
            {{ form_widget(register_form.user_email.second,{ 'attr' : {'placeholder' : 'Email znovu'}}) }}
            <input type="submit" value="Registrovat" />
            <p id="register-p">Už máte účet? <span id="register-span">Přihlásit se.</span></p>
            {{ form_end(register_form) }}
            </span>
            <span id="login" style="display: none">
            <form action="{{ path('login') }}" method="post">
                <span class="close cursor">&times;</span>
                <label for="username">Uživatelské jméno</label>
                <input type="text" placeholder="Uživateslké jméno" id="username" name="_username" value="{{ lastUsername }}" />
                <label for="password">Heslo</label>
                <input type="password" placeholder="Heslo" id="password" name="_password" />
                <input type="hidden" name="_target_path" value="{{ app.request.uri }}" />
                <input type="submit" value="Přihlásit" />
                <p id="login-p">Nemáte účet? <span id="login-span">Zaregistrujte se.</span></p>
            </form>
            </span>
        </div>
        {% endif %}
    </div>
    <div id="search">
        <div id="form-container">
            {{ form_start(search_form) }}
                <div id="suggestions-container">
                    {{ form_widget(search_form.search_query,{ 'attr' : {'placeholder' : 'Vyhledat hru' , 'id' : 'search-input'}}) }}
                    <div id="suggestions"></div>
                </div>
                <input type="submit" value="search"/>
            {{ form_end(register_form) }}
        </div>
        <a href="cart.php"><button id="cart-btn" class>Košík</button></a>
    </div>
    <div id="navigation">
        <div id="navigation-container">
            <ul id="navigation-ul">
                {% for platform in platforms %}
                <li class="platform"><a href="#">{{ platform.getPlatformName }}</a>
                    <ul class="genre-ul">
                        {% for genre in genres %}
                        <li class="genre">
                            <a href="{{ path('showgames',{'platform' : platform.getPlatformName , 'genre' : genre.getGenreName}) }}">{{ genre.getGenreName }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="accordion-container">
            {% for platform in platforms %}
            <button class="accordion">{{ platform.getPlatformName }}</button>
            <div class="panel">
                <ul class="genre-ul">
                    {% for genre in genres %}
                    <li class="genre">
                        <a href="{{ path('showgames',{'platform' : platform.getPlatformName , 'genre' : genre.getGenreName}) }}">{{ genre.getGenreName }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</header>